<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BroadcastReceiverDemo"
        tools:targetApi="31">
        <!--<activity
            android:name=".custombroadcast.CustomBroadcastActivity"
            android:exported="false" />-->
        <!--
        <activity
            android:name=".ex4screenonoff.Ex4ScreeOnOffMainActivity"
            android:exported="true">
            <intent-filter>
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".custombroadcast.CustomBroadcastActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ex4screenonoff.MyService"
            android:exported="false" />

        <receiver
            android:name=".ex2manifest.MyCustomBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.demo.start" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.demo.stop" />
            </intent-filter>
        </receiver>
    </application>

</manifest>